<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>
  <body>
    <h1>棋譜一覧</h1>
    <div id="new-kif-button">
        <a href="/board">新規作成</a>
    </div>
    <div id="kif-list">
      <% for (let i = 0; i < kifs.length; i++) { %>
      <div class="kif-item" id="kifid-<%= kifs[i].id %>">
        <div id="title-kifid-<%= kifs[i].id %>"><%= kifs[i].title %></div>
        <div class="delete-button" id="delete-kifid-<%= kifs[i].id%>">&#x1f5d1;</div>
      </div>
      <% } %>
    </div> <!-- kif-list -->
    <div id="pagination-container">
        <div id="prev-button">
        <% if (hasPrev) { %>
            <div id="prev-page" class="page-button">
            <a id="prev-page" href="/?page=<%= page - 1 %>">前へ</a>
            </div>
            <% } else { %>
            <div id="prev-page" class="page-button dummy">前へ</div>
        <% } %>
        </div> <!-- prev-button -->
        <div id="next-button">
        <% if (hasNext) { %>
            <div id="next-page" class="page-button">
            <a id="next-page" href="/?page=<%= page + 1 %>">次へ</a>
            </div>
        <% } else { %>
        <div id="next-page" class="page-button dummy">次へ</div>
        <% } %>
        </div> <!-- next-button -->
    </div> <!-- pagination-container -->
  </body>
</html>
